[Oo]bj
[Bb]in
Logs
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log
*.DS_Store
[Tt]humbs.db
_ReSharper.*
*_ReSharper*
*.resharper
*.orig
App_Data
*.docstates
*.exe
*.zip
*.dll
*.xml
*.ncrunchsolution

packages
rcf

*StyleCop.Cache
*ReSharper*
*TestResults*

*.suo
*.user
*.orig
*.ncrunchproject
*.dbmdl

*.ncrunchsolution.user
*.nupkg

csx
